<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% endblock %} | Stavební firma Čermák</title>
        {% block stylesheets %}
            {% stylesheets
                'assets/css/bootstrap.min.css'
                'assets/fonts/font-awesome.min.css'

                'assets/fonts/simple-line-icons.css'
                'assets/fonts/flaticon.css'

                'assets/css/settings.css'

                'assets/css/main.css'
                'assets/css/responsive.css'
                'assets/css/animate.css'
                'assets/css/slicknav.css'
                'assets/css/colors/river.css'
                'assets/slick/slick-theme.css'
                'assets/vendors/fancyBox/dist/jquery.fancybox.css'
                '@CmsBundle/Resources/public/css/main.less'

                'assets/pure/grids-min.css'
                'assets/pure/forms-min.css'
                'assets/vendors/jQuery-contextMenu/dist/jquery.contextMenu.css'
                'assets/tinymce/skins/lightgray/skin.min.css'
                'assets/jquery-ui/css/jquery-ui.css'
                'assets/jstree/themes/default/style.css'
                'assets/remodal/remodal.css'
                'assets/remodal/remodal-default-theme.css'
                '@CmsBundle/Resources/public/css/cms.less'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="document{{ document.id }} {{ cms_body_class() }}">

        <div id="container">
        {% block body %}
        {% endblock body %}
        </div>

        {# NEMAZAT- DULEZITE PRO EDITACI STRANKY #}
        {% block cms %}
        {% endblock cms %}

        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>

        <div id="loader">
            <div class="square-spin">
                <div></div>
            </div>
        </div>

        {% block javascripts %}
            {% javascripts
                'assets/vendors/jquery/dist/jquery.js'
                'assets/vendors/bootstrap/dist/js/bootstrap.js'
                'assets/vendors/fancyBox/dist/jquery.fancybox.js'

                'assets/js/owl.carousel.min.js'
                'assets/js/modernizrr.js'
                'assets/js/nivo-lightbox.min.js'
                'assets/js/jquery.mixitup.min.js'
                'assets/js/jquery.appear.js'
                'assets/js/count-to.js'
                'assets/js/jquery.parallax.js'
                'assets/js/smooth-scroll.js'
                'assets/js/jquery.slicknav.js'


                'bundles/fosjsrouting/js/router.js'
                '@CmsBundle/Resources/public/js/main.js'

                'assets/remodal/remodal.min.js'
                'assets/vendors/jQuery-contextMenu/dist/jquery.contextMenu.js'
                'assets/vendors/jQuery-contextMenu/dist/jquery.ui.position.js'
                'assets/vendors/jquery.cookie/jquery.cookie.js'
                'assets/jquery-ui/js/jquery-ui.js'
                'assets/jquery-slidereveal/jquery.slidereveal.min.js'
                'assets/jstree/jstree.min.js'
                'assets/vendors/fancyBox/dist/jquery.fancybox.js'
                'assets/jquery-validation/jquery.validate.min.js'
                'assets/jquery-validation/localization/messages_cs.js'


                '@CmsBundle/Resources/public/js/*'

                'assets/js/main.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="/assets/tinymce/tinymce.min.js"></script>
            <script src="/assets/tinymce/themes/modern/theme.min.js"></script>

            <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}

    </body>
</html>
