<div class="document container" data-document-id="{{ document.id }}">
    <div class="row">
    {{ cms_region(document, 'global.head') }}

    {{ cms_region(document, 'page.content') }}

    {{ cms_region(document, 'global.news') }}

    {{ cms_region(document, 'page.content2') }}

    {{ cms_region(document, 'global.foot') }}
    </div>
</div>