<div class="region-toolbar admin-content">
    <span title="{{ template |replace({'CmsBundle:Templates/': ''}) }}">region ({{ name }})</span>
    {% if documentId %}
      <a href="{{  path('cms_region_edit', {'id': documentId, 'name': name }) }}" class="region-edit edit" data-region-name="{{ name }}">
    {% else %}
      <a href="{{  path('cms_region_edit_global', {'name': name }) }}" class="region-edit edit" data-region-name="{{ name }}">
    {% endif %}
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
    </a>
    <span class="widget-plus-region  button" data-region-id="{{ id }}">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </span>

    <span class="widget-paste-region button" data-region-id="{{ id }}">
        <i class="fa fa-paste" aria-hidden="true"></i>
    </span>
</div>