<div class="widget-toolbar">
    <span class="drag">
        <i class="fa fa-arrows" aria-hidden="true"></i>
        {{ title }}
    </span>
    {#<i class="drag fa fa-arrows" aria-hidden="true"></i>#}
    <a href="{{  path('cms_widget_edit', {'id': widget.id }) }}" class="widget-edit" data-widget-id="{{ widget.id }}">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
    </a>
    {#
    <a href="" class="widget-copy">
        <i class="fa fa-copy" aria-hidden="true"></i>
    </a>
    #}
    <a href="{{  path('cms_widget_delete', {'id': widget.id }) }}" class="widget-delete" data-widget-id="{{ widget.id }}">
        <i class="fa fa-remove" aria-hidden="true"></i>
    </a>
    {#
    <span class="context-menu" data-widget="{{ widget.id }}">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </span>
    #}
</div>
