<header id="header-wrap" class="site-header clearfix">
    {{ cms_region(document, 'global.head') }}
    {{ cms_region(document, 'global.menu') }}
    <!-- End Header Logo & Navigation -->
    <div class="clearfix"></div>
</header>

    {{ cms_region(document, 'global.slider') }}

    {{ cms_region(document, 'page.content') }}

    {{ cms_region(document, 'page.activities') }}

    {{ cms_region(document, 'global.news') }}

    {{ cms_region(document, 'page.content2') }}

    {{ cms_region(document, 'page.content3') }}

    {{ cms_region(document, 'global.foot') }}