<div id="modal-form-box" class="pure-form pure-form-stacked">
    {{ form_start(form, {'attr': {'action': path('cms_widget_edit', {'id': widget.id}), 'id': 'modal-edit-form', 'novalidate': 'novalidate' }}) }}

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Základní informace</a></li>
            <li><a href="#tabs-2">Zobrazení</a></li>
            <li><a href="#tabs-3">Nastavení</a></li>
        </ul>


        <div id="tabs-2" class="tab">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    {{ form_row(form.predefined_class) }}
                    {{ form_row(form.class) }}
                    {{ form_row(form.class_sm) }}
                    {{ form_row(form.class_xs) }}
                    {{ form_row(form.class_lg) }}
                </div>
                <div class="pure-u-1-2">
                    {{ form_row(form.tag) }}
                    {{ form_row(form.subclass) }}
                </div>
            </div>
        </div>
        <div id="tabs-3" class="tab">
            <div class="pure-g">
                <div class="pure-u-1">
                    {{ form_row(form.id) }}
                    {{ form_row(form.sid) }}
                    {{ form_row(form.is_system) }}
                    <p>pokud zadáte strojový název, bude možné s jeho pomocí vytvořit šablonu přímo pro tento widget</p>
                    <h4>Návrh šablon</h4>
                    {{ widget.suggestionTemplateFiles(defaultTemplate) | join('<br />') | raw }}
                </div>
            </div>
        </div>

        <div id="tabs-1" class="tab">
            <div class="pure-g">
                <div class="pure-u-1">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;"><input type="submit" value="Odeslat" /></div>

    {{ form_end(form) }}
</div>

<script>
    $( function() {
        $( "#tabs" ).tabs();
    } );
</script>