{% macro render_editor_menu(tree) %}
    {% import _self as self %}
    <ul>
        {% for item in tree %}
            <li cmslink="{{ item.link }}" cmsclass="{{ item.class }}">{{ item.title | trim }}
                {% if item.children %}
                    {{ self.render_editor_menu(item.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% import _self as macro %}



<div id="modal-form-box" class="pure-form pure-form-stacked">
    {{ form_start(form, {'attr': {'action': path('cms_widget_edit', {'id': widget.id}), 'id': 'modal-edit-form', 'novalidate': 'novalidate' }}) }}

    <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Základní informace</a></li>
                <li><a href="#tabs-2">Zobrazení</a></li>
                <li><a href="#tabs-3">Nastavení</a></li>
            </ul>


        <div id="tabs-2" class="tab">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    {{ form_row(form.predefined_class) }}
                    {{ form_row(form.class) }}
                    {{ form_row(form.class_sm) }}
                    {{ form_row(form.class_xs) }}
                    {{ form_row(form.class_lg) }}
                </div>
                <div class="pure-u-1-2">
                    {{ form_row(form.tag) }}
                    {{ form_row(form.subclass) }}
                </div>
            </div>
        </div>
        <div id="tabs-3" class="tab">
            <div class="pure-g">
                <div class="pure-u-1">
                    {{ form_row(form.id) }}
                    {{ form_row(form.sid) }}
                    {{ form_row(form.is_system) }}
                    <p>pokud zadáte strojový název, bude možné s jeho pomocí vytvořit šablonu přímo pro tento widget</p>
                    <h4>Návrh šablon</h4>
                    {{ widget.suggestionTemplateFiles(defaultTemplate) | join('<br />') | raw }}
                </div>
            </div>
        </div>


        <div id="tabs-1" class="tab">
            <div class="pure-g">

                <div class="pure-u-1">
                    {{ form_widget(form) }}
                </div>

                <div id="menu" class="pure-u-1-2">
                    <ul>
                        <li data-jstree='{ "icon" : "//jstree.com/tree-icon.png" }'>
                            MENU
                            {{ macro.render_editor_menu(parameters.tree) }}
                        </li>
                    </ul>
                </div>

                <div id="menuitem" class="pure-u-1-2">
                    <div id="menuitem-form" style="display: none;">
                        <div class="form-group">
                            <label class="control-label required" for="form_menuitem_title">Název</label>
                            <input id="form_menuitem_title"  required="required" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label required" for="form_menuitem_link">Odkaz</label>
                            <input id="form_menuitem_link"  required="required" class="form-control droplink" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label required" for="form_menuitem_class">Třída</label>
                            <input id="form_menuitem_class"  required="required" class="form-control" type="text">
                        </div>
                        <div>

                            <button id="menuitem-save-button" type="button" class="btn btn-primary">Aktualizovat</button>
                            <button id="menuitem-storno-button" type="button" class="btn btn-default">Storno </button>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>
    </div>

    <div style="display: none;"><input type="submit" value="Odeslat" /></div>

    {{ form_end(form) }}
</div>

<script>
        $( "#tabs" ).tabs();
        cmsMenu.init();
</script>