<div id="modal-form-box">
    {{ form_start(form, {'attr': {'action': path('cms_widget_edit', {'id': widget.id}), 'id': 'modal-edit-form', 'novalidate': 'novalidate' }}) }}

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Základní informace</a></li>
                <li role="presentation"><a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">Zobrazení</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Nastavení</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="seo">
                    {{ form_row(form.predefined_class) }}
                    {{ form_row(form.class) }}
                    {{ form_row(form.class_sm) }}
                    {{ form_row(form.class_xs) }}
                    {{ form_row(form.class_lg) }}
                    {{ form_row(form.tag) }}
                    {{ form_row(form.subclass) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    {{ form_row(form.id) }}
                    {{ form_row(form.sid) }}
                    {{ form_row(form.is_system) }}
                    <p>pokud zadáte strojový název, bude možné s jeho pomocí vytvořit šablonu přímo pro tento widget</p>
                    <h4>Návrh šablon</h4>
                    {{ widget.suggestionTemplateFiles(defaultTemplate) | join('<br />') | raw }}
                </div>
                <div role="tabpanel" class="tab-pane active" id="basic">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;"><input type="submit" value="Odeslat" /></div>

    {{ form_end(form) }}
</div>