{#<img width="100%" src="/assets/slider/dum1.jpg" alt="Zámek Choltice" />#}
<div class="bxslider" style="width: 100%;">
    <div class="slide">
        <a href="/akutality/nova-aktualita"><img title="Choltice" src="{{ asset('data/hlavicka/dum2.jpg') }}" /></a>
    </div>
    <div><img title="Čeperka" src="{{ asset('data/hlavicka/dum3.jpg') }}" /></div>
    <div><img title="Choltice" src="{{ asset('data/hlavicka/dum4.jpg') }}" /></div>
    <div><img title="Ostřešany" src="{{ asset('data/hlavicka/dum5.jpg') }}" /></div>
    <div><img title="Zdechovice" src="{{ asset('data/hlavicka/dum6.jpg') }}" /></div>
    <div><img title="Barchov" src="{{ asset('data/hlavicka/dum7.jpg') }}" /></div>
</div>