{#
<div class="document-sidebar-tree">
{% for document in documents %}
<div class="level-{{ document.lvl }}"><a href="/{{ document.url }}">{{ document.name }}</a> [/{{ document.url }}]</div>
{% endfor %}
</div>
#}

{% macro menu_links(documents) %}
    {% import _self as self %}
    <ul>
    {% for document in documents %}
        <li>
            <a href="{{ document.url }}" title="{{ document.url }}">{{ document.name }}</a>
            {% if document.__children %}
                    {{ self.menu_links(document.__children) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% import _self as macro %}

<div id="page-tree">
    {{ macro.menu_links(hierarchy) }}
</div>

{#
<div id="tree2">
    {{ htmlTree | raw }}
</div>
#}