 {#% if  images[0] is defined %}

   {% if parameters.link %}
   <a href="{{ parameters.link }}">
   {% endif %}
      <img class="responsive-image{{ (parameters.classImage ? ' ' ~  parameters.classImage ~ ''  : '') | raw  }}" src="{{ asset(images[0].src) | imagine_filter('cms_image_thumb') }}" alt="{{ parameters.alt }}" />
   {% if parameters.link %}
      </a>
   {% endif %}

   {% if parameters.gallery %}
      <a class="{{ parameters.gallery }}" href="{{ asset(images[0].src) | imagine_filter('cms_image_large') }}">
   {% endif %}
     <img class="responsive-image{{ (parameters.classImage ? ' ' ~  parameters.classImage ~ ''  : '') | raw  }}" src="{{ asset(images[0].src) | imagine_filter('cms_image_thumb') }}" alt="{{ parameters.alt }}" />
   {% if parameters.gallery %}
      </a>
   {% endif %}

   {% if parameters.annotation %}
   <p class="center">{{ parameters.annotation }}</p>
   {% endif %}

 {% endif %#}

 {% if parameters.categories %}
    <div class="row">
    {% for category in parameters.categories %}
      <div class="category-holder {{ parameters.width }}">
        <a  href="{{ path('cms_gallery_category', { url: category.slug}) }}">
          {% if category.filename %}
          <img width="100%" class="image responsive-image" src="{{ asset(category.filename) | imagine_filter('cms_image_thumb') }}" alt="{{ category.name }}" />
          {% endif %}
        </a>
      </div>
    {% endfor %}
    </div>
 {% else %}
  Kategorie nebyla vybrána nebo neexistuje
 {% endif %}