<div class="col-md-4">
 <div class="projects-box item">
  <div class="projects-thumb">
   <a href="/{{ document.url }}">
    <img src="{{ asset(parameters.image) | imagine_filter('cms_image_thumb') }}" alt="{{ parameters.title }}" />
   </a>
  </div>
  <div class="projects-content">
   <h4><a href="/{{ document.url }}">{{ parameters.title }}</a></h4>
   <div class="recent-meta"><span class="date"><i class="fa fa-file-text-o"></i> {{ parameters.date }}</span>
    <span class="comments"><i class="fa fa-comments-o"></i> Reference</span></div>
   <p class="projects-desc">{{ parameters.annotation }}</p>
   <a href="/{{ document.url }}" class="btn btn-effect">Více informací <i class="icon-arrow-right"></i></a>
  </div>
 </div>
</div>