<div id="box-{{ box.id }}" class="box container">

    <div class="box-inner row">
        {% for widget in box.widgets %}
          {{ cms_widget(widget) }}
        {% endfor %}
    </div>


    <div class="box-toolbar">
        Box
        <a href="{{  path('cms_edit_box', {'id': box.id }) }}" class="fancybox" data-box-id="{{ box.id }}" data-type="ajax">
            <i class="fa fa-pencil-square " aria-hidden="true"></i>
        </a>
        <a href="{{  path('cms_add_widget', {'id': box.id }) }}" class="add-widget" data-box-id="{{ box.id }}" data-type="ajax">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <span class="context-menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
    </div>
</div>