{% extends "CmsBundle::base.html.twig" %}

{% block title %}{{ document.name }}{% endblock %}

{% block cms %}
    <!-- Large modal -->
    <div class="modal fade" id="cms-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="cms-modal-label">New message</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít </button>
                    <button id="modal-save-button" type="button" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Toolbar -->
    <div id="cms-toolbar">
        <span class="edit-mode-toggle">Editační režim</span>
        <span class="box-template draggable drag-drop" data-widget="cms.widget.editor">HTML editor</span>
        <span class="box-template draggable drag-drop" data-widget="cms.widget.news">Novinka</span>

        <span class="document-new">Přidat stránku</span>
    </div>

    <script type="text/javascript">
      var adminUrl = Array();
      adminUrl['widget_add']  = '{{ path('cms_widget_add') }}';
      adminUrl['widget_sort'] = '{{ path('cms_widget_sort') }}';

      adminUrl['document_add'] = '{{ path('cms_widget_sort') }}';

      var adminParam = Array();
      adminParam['document_id']  = '{{ document.id }}';
      adminParam['url']          = '{{ document.url }}';

    </script>
{% endblock %}
