<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% endblock %} | Stavební firma Čermák</title>
        {% block stylesheets %}
            {% stylesheets
                'assets/vendors/bootstrap/dist/css/bootstrap.css'
                'assets/vendors/font-awesome/css/font-awesome.css'


                'assets/css/main.css'
                'assets/css/responsive.css'
                'assets/css/animate.css'
                'assets/css/slicknav.css'
                'assets/css/colors/river.css'
                'assets/slick/slick-theme.css'
                'assets/vendors/fancyBox/dist/jquery.fancybox.css'
                '@CmsBundle/Resources/public/css/main.less'

                '@CmsBundle/Resources/public/css/cms.less'
                '@CmsBundle/Resources/public/css/bootstrap/bootstrap.less'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="document{{ document.id }} {{ cms_body_class() }}">

        <div id="container">
        {% block body %}
        {% endblock body %}
        </div>

        {# NEMAZAT- DULEZITE PRO EDITACI STRANKY #}
        {% block cms %}
        {% endblock cms %}

        {% block javascripts %}
            {% javascripts
            'assets/vendors/jquery/dist/jquery.js'
            'assets/vendors/bootstrap/dist/js/bootstrap.js'
            'assets/vendors/jQuery-contextMenu/dist/jquery.contextMenu.js'
            'assets/vendors/jQuery-contextMenu/dist/jquery.ui.position.js'
            'assets/vendors/jquery.cookie/jquery.cookie.js'
            'assets/jquery-ui/js/jquery-ui.js'
            'assets/jquery-ui/js/jquery-ui.js'
            'assets/jquery-slidereveal/jquery.slidereveal.min.js'
            'assets/tinymce/tinymce.min.js'
            'assets/tinymce/jquery.tinymce.min.js'
            'assets/tinymce/themes/modern/theme.min.js'
            'assets/vendors/interactjs/interact.js'
            'assets/jstree/jstree.min.js'
            'bundles/fosjsrouting/js/router.js'
            '@CmsBundle/Resources/public/js/*'

            'assets/js/owl.carousel.min.js'
            'assets/js/modernizrr.js'
            'assets/js/nivo-lightbox.min.js'
            'assets/js/jquery.mixitup.min.js'
            'assets/js/jquery.appear.js'
            'assets/js/count-to.js'
            'assets/js/jquery.parallax.js'
            'assets/js/smooth-scroll.js'
            'assets/js/jquery.slicknav.js'
            'assets/js/template.js'
            'assets/js/jquery.themepunch.revolution.min.js'
            'assets/js/jquery.themepunch.tools.min.js'
            'assets/slick/slick.min.js'
            'assets/vendors/fancyBox/dist/jquery.fancybox.js'
            '@CmsBundle/Resources/public/js/main.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        {% endblock %}

    </body>
</html>
