<header id="header-wrap" class="site-header clearfix">
    {{ cms_region(document, 'global.head') }}
    {{ cms_region(document, 'global.menu') }}
    <!-- End Header Logo & Navigation -->
    <div class="clearfix"></div>
</header>


{{ cms_region(document, 'global.breadcrumb') }}

<div class="row">
{{ cms_region(document, 'page.content') }}

{{ cms_region(document, 'page.right') }}
</div>

{{ cms_region(document, 'global.foot') }}