<div id="widgetlist">
    <div class="widgetlist-add">
        {% for name, widgets in groups %}
            <h4>{{ name }}</h4>
            {% for key, widget in widgets %}
                <div class="widget-new-item" data-widget="{{ key }}" title="{{ widget.description }}">
                    {{ widget.title }}<br />
                    <i class="fa {{ widget.icon }}" aria-hidden="true"></i>
                </div>
            {%  endfor %}
            <div class="clear"></div>
        {% endfor %}

    </div>
</div>